.column {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 10px;
    margin-left: 20px;
    max-height: 400px;
    overflow-y: auto;
    min-width: 250px;
    background-color: #dbd7d7;

    // &>* {
    //     background: grey;
    // }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }



    .list-style {
        img {
            height: 300px;
        }

        .list-item {

            border: 1px solid rgb(205, 199, 199);
            margin-top: 5px;
            text-align: center;
            padding: 6px 5px;
            box-shadow: 0 0 3px rgba(114, 103, 103, 0.422);
            background-color: #fff;


        }
    }
}

.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)
}

.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
}

.drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
}

.cards-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
}